name: Lint

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  check-lint:
    name: python
    runs-on: ubuntu-latest
    

    steps:
      - uses: actions/checkout@v5

      - name: "Set up Python"
        uses: actions/setup-python@v6
        run: uv python install

      - name: "Install uv"
        uses: astral-sh/setup-uv@v7

      - name: "Sync dependencies"
        run: make install

      - name: "Run linters"
        run: make lint